{% extends 'base.html.twig' %}

{% block title %}
	Hello HomeController!
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence lorem ipsus</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, officia? Eius eveniet neque culpa! Velit voluptas perspiciatis sapiente ullam ab vel explicabo in dignissimos, libero voluptatibus obcaecati dolores. Earum, suscipit!</p>

	{% endblock %}
