{% extends 'admin/option/components/_form.html.twig' %}

{% block title 'Nouvelle option' %}
{% block bigTitle %}
	<h1>Créer une nouvelle option</h1>
{% endblock %}

{% block createEdite %}
	Créer
{% endblock %}
