{% extends 'admin/property/components/_form.html.twig' %}

{% block title 'Nouveau Bien' %}
{% block bigTitle %}
	<h1>Créer un nouveau bien</h1>
{% endblock %}

{% block createEdite %}
	Créer
{% endblock %}
