<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Bien</th>
			<th scope="col">Addresse</th>
			<th scope="col">Ville</th>
			<th scope="col">Statue</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Villa Côte Azure</td>
			<td>40 Avenue du Rhin</td>
			<td>Strasbourg</td>
			<td>
				<button type="button" class="btn btn-warning">
					En cours
				</button>
			</td>
		</tr>
		<tr>
			<th scope="row">1</th>
			<td>Appartement 40m²</td>
			<td>24 rue des bateliers</td>
			<td>Erstein</td>
			<td>
				<button type="button" class="btn btn-success">
					Valider
				</button>
			</td>
		</tr>
	</tbody>
</table>
